@page "/register"
@layout LoginLayout

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudPaper Class="mud-width-full pa-8" Elevation="8">
            <div class="d-flex justify-center mb-10">
                <img src="imgs/dima.png" alt="" width="250">
            </div>
            <EditForm Model="@NewUser" OnValidSubmit="CreateNewUserAsync" FormName="RegisterNewUser">
                <MudTextField
                    T="string"
                    Label="E-mail"
                    @bind-Value="@NewUser.Email"
                    For="@(() => NewUser.Email)"
                    InputType="InputType.Email"
                    />
                
                <MudTextField
                    T="string"
                    Label="Senha"
                    @bind-Value="@NewUser.Password"
                    For="@(() => NewUser.Password)"
                    InputType="InputType.Password"
                />
                <div class="d-flex mt-10">
                    @if (IsLoading)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Registrar</MudButton>
                        <MudSpacer></MudSpacer>
                        <MudButton Href="/login" Variant="Variant.Outlined" Color="Color.Primary">Já tenho uma conta</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>