@page "/transactions"
@using Dima.Core.Enums

<MudText Typo="Typo.h3" Class="py-6">Transações</MudText>

<div class="d-flex align-center mb-8">
    <MudSelect
        T="int"
        Variant="Variant.Outlined"
        Class="mr-6"
        @bind-Value="@SearchMonth"
        Label="Mês">
        
        @for (var month = 1; month <= 12; month++)
        {
            var date = new DateTime(DateTime.Now.Year, month, 1);
            
            <MudSelectItem T="int" Value="@month">@date.ToString("MMMM")</MudSelectItem>
        }
    </MudSelect>

    <MudSelect Label="Ano"
               @bind-Value="@SearchYear"
               Variant="Variant.Outlined">
        
        @for (var year = 0; year <= 4; year++)
        {
            var yearLabel = DateTime.Now.AddYears(year * (-1)).Year;
            <MudSelectItem T="int" >@yearLabel</MudSelectItem>
        }
    </MudSelect>

    <MudSpacer/>
    
    <MudButton
        Class="mb-4 mr-2"
        Style="font-size: 1em"
        StartIcon="@Icons.Material.Filled.Search"
        Variant="Variant.Outlined"
        OnClick="@OnClickSearchButtonAsync">Pesquisar</MudButton>
    
    <MudButton
        Class="mb-4"
        Style="font-size: 1em"
        StartIcon="@Icons.Material.Filled.Add"
        Href="/transactions/create"
        Color="Color.Primary"
        Variant="Variant.Filled">Nova Transação</MudButton>
</div>

<MudDataGrid 
    Items="@Transactions"
    QuickFilter="Filter"
    >
    <ToolBarContent>
        <MudTextField 
            Placeholder="Buscar"
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            @bind-Value="SearchString"
            Style="width: 30%"
            Immediate="true"
            />
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="@(x => x.Title)" Title="Título"/>
        <TemplateColumn>
            <CellTemplate>
                @switch (context.Item?.Type)
                {
                    case ETransactionType.Deposit:
                        <MudChip Variant="Variant.Filled" Color="Color.Success">Entrada</MudChip>
                        break;
                    case ETransactionType.Withdraw:
                        <MudChip Variant="Variant.Filled" Color="Color.Error">Saída</MudChip>
                        break;
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="@(x => x.Amount)" Format="C" Title="Valor">
            <FooterTemplate>
                <MudText Typo="Typo.subtitle1" >
                    @Transactions.Sum( transaction => transaction.Amount).ToString("C")
                </MudText>
            </FooterTemplate>
        </PropertyColumn>
        <PropertyColumn Property="@(x => x.PaidOrReceivedAt)" Title="Data"/>
        <TemplateColumn>
            <CellTemplate>
                <MudStack Row>
                    <div class="d-flex justify-end" >
                        <MudIconButton 
                            Icon="@Icons.Material.Filled.Edit"
                            Href=@($"/transactions/update/{context.Item?.Id}")
                        />
                        
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Delete"
                            OnClick="@( () => OnClickDeleteButtonAsync(context.Item!.Id, context.Item.Title) )"
                        />
                    </div>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


